body {
	background-color: #ff00ff !important;
}

/*
table, tr, th, td {
	border: 1px solid black;
}
.record {
	background-color: goldenrod;
}
.record--headings {
	background-color: cornflowerblue;
}
.record--deleted {
	background-color: grey;
}
*/