// Bootstrap
@import 'bower_components/fontawesome/scss/font-awesome';
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/bootswatch-sass/yeti/_variables';
@import 'bower_components/bootswatch-sass/yeti/_bootswatch';

/*
table, tr, th, td {
	border: 1px solid black;
}
.record {
	background-color: goldenrod;
}
.record--headings {
	background-color: cornflowerblue;
}
.record--deleted {
	background-color: grey;
}
*/