<!DOCTYPE html>
	<head>
		<title>Character Package</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<!--<style>
			table, tr, th, td {
				border: 1px solid black;
			}
			.record {
				background-color: goldenrod;
			}
			.record--headings {
				background-color: cornflowerblue;
			}
			.record--deleted {
				background-color: grey;
			}
		</style>-->
	</head>
	<body id="layout">
		<ol class="breadcrumb">
			{{#each breadcrumbs}}
			<li><a href="{{ url }}">{{ text }}</a></li>
			{{/each}}
		</ol>
		<div class="container">
			{{{ content }}}
		</div>
	</body>
</html>