<!DOCTYPE html>
	<head>
		<title>Character Package</title>
		<link rel="stylesheet" href="/css/app.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body id="layout">
		<ol class="breadcrumb">
			{{#each breadcrumbs}}
			<li><a href="{{ url }}">{{ text }}</a></li>
			{{/each}}
		</ol>
		<div class="container">
			{{{ content }}}
		</div>
	</body>
</html>